# compiled output
dist
tmp

# dependencies
node_modules

# IDEs and editors

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

.webpack
.serverless
.webpackCache
swagger
.env
